
* {
    box-sizing: border-box;
}

img {
    border: 2px solid black;
}

#judul {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

#background {
    background-image: url('image/bg.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover;
}

#welcome {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
}


#container {
    position: relative;
    margin :10px;
    background-color: black;
    margin: 0 3%;
}

li, a, button {
    font-family: "Lucida", monospace;
    font-size: 16px;
    color: white;
    text-decoration: none;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}

.center {
    display: block;
    margin-top: 250px;
    margin-left: 550px;
    margin-right: auto;
    width: 50%;
}

nav li {
    list-style: none;
    display: inline-block;
    padding:0 10px;
}

nav li a {
    transition: all 0.2s ease 0s;
}

nav li a:hover {
    color: black;
    background-color: white;
    align-items: center;
    padding: 10px 15px 10px 15px;
}

#nav_bar ul li a.active-page
{
  border-bottom: 5px solid white;
  padding: 10px 10px 10px 10px;
}

#desc {
    position: relative;
    display: block;
    margin-left: 35%;
    margin-right: 35%;
    border-left: 5px solid black;
    border-right: 5px solid black;
    text-align: center; 
    font-size: 22px;
}

#moreDesc {
    display: none;
    margin-top: 30px;
    margin-left: 36%;
    margin-right: 36%;
    padding: 2px 2px 2px 2px;
    border-bottom: 2px solid black;
    font-size: 16px;
}


#show{
    margin-top: 40px;
    border-bottom: 1px solid black;
    margin-left: 45%;
    margin-right: 45%;
    color : black;
}

#show:hover {
    cursor: pointer;
    transition: .2s;
    transform: scale(1.2);
}

#form {
    display: none;
}

#search {
    margin-top: 40px;
    margin-left: 37%;
    width: 300px;
    height: 35px;
    border: 2px solid black;
    border-right: none;
    float: left;
    border-radius: 5px 0 0 5px;
    text-align: center;

}

.search_button {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 35px;
    border-radius: 0px 5px 5px 0px;
    border: 2px solid black;
    cursor: pointer;
    background-color: white;
    float: left;
}

.search_button:hover {
    transition: all 0.2s ease 0s;
    background-color: black;
    color: white;

}

table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
}

#profile {
    border-radius: 50%;
    border-color: black;
}

#bg_profile {
    background-color: #8392AF;
}


#tab {
    margin-top: 50px;
    background-color: white;
}

td {
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
}


.fa {
    padding: 10px 0 10px 0;
    width: 42px;
}
  
.fa:hover {
      opacity: 0.7;
}

.fa-instagram {
    background-color: #125688;
    border-radius: 50%;
    color: white;
}
  

#foot {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 100%;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}

#bg_abt {
    background-color: #D1D5DE;
}

  
.theme-switch {  
display: inline-block;  
height: 20px;  
position: relative;  
width: 40px;
}

.theme-switch input {  
display: none;
} 

.slider {  
background-color: #ccc;  
bottom: 0;  
cursor: pointer;  
left: 0;  
position: absolute;  
right: 0;  
top: 0;  
transition: .4s;
} 

.slider:before {  
background-color: #fff;  
content: "";  
height: 20px; 
position: absolute;  
transition: .4s;  
width: 20px;
} 

input:checked + .slider {  
background-color: black;
border: 2px solid white;
} 

input:checked + .slider:before {  
    background-color: #fff;  
    content: "";  
    height: 15px; 
    position: absolute;   
    width: 15px;
transform: translateX(20px);
} 

.slider.round {  
border-radius: 10px;
} 

.slider.round:before {  
border-radius: 50%;
}

